<header>
    <div class="logo">LOGO</div>
    <div class="input-group">
        <fa-icon [icon]="faSearch"></fa-icon>
        <input type="text" class="input-search" placeholder="Busque por item">
    </div>
    <div class="address-group">
        <label>ENTREGAR EM</label><br>
        <span class="adress"><fa-icon [icon]="faHome"></fa-icon> R. Europa, 330</span>
    </div>
    <div>
        <ul>
            <li><fa-icon [icon]="faUser"></fa-icon> Perfil</li>
            <li><fa-icon [icon]="faShoppingBag"></fa-icon> Sacola</li>
        </ul>
    </div>
</header>
