    <h3>Client Register</h3>
    <form>    
        <label for="name">Name:</label>
        <input name="name" type="text">

        <label for="email">Email:</label>
        <input name="email" type="email">

        <label for="cpf">CPF:</label>
        <input name="cpf" type="text">
        
        <label for="cep">CEP:</label>
        <input name="cep" type="number">

        <label for="address">Address:</label>
        <input name="address" type="text">

        <label for="number">Number:</label>
        <input name="number" type="number">

        <label for="city">City:</label>
        <input name="city" type="text">

        <label for="state">State:</label>
        <input name="state" type="text">

        <label for="isActive">Active</label>  
        <input name="isActive" type="checkbox" checked>

        <button>Save</button>



    </form>

